name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Pull Docker Image
      run: docker pull harinipriyam/mysampleappv1:latest

    - name: SSH and Deploy
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          echo "Stopping existing container..."
          sudo docker stop myapp || true
          
          echo "Removing old container..."
          sudo docker rm myapp || true
          
          echo "Pulling latest image..."
          sudo docker pull harinipriyam/mysampleappv1:latest
          
          echo "Starting new container..."
          sudo docker run -d \
            -p 80:3000 \
            --restart always \
            --name myapp \
            harinipriyam/mysampleappv1:latest
          
          echo "Deployment completed successfully!"
